@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Battambang:wght@300&family=Jolly+Lodger&family=Lobster&family=Mr+Dafoe&family=Roboto:wght@300&family=Satisfy&family=VT323&family=Work+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Anek Malayalam';
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(63, 133, 223);
    color: white;
}

header h1 {
    min-width: 150px;
    margin-inline-start: 0.5rem;
}

header .form-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-inline-end: 3rem;
}

header .form-container > * {
    margin-inline-start: 1rem;
}

header .btn {
    background-color: white;
    color: rgb(63, 133, 223);
    font-weight: 600;
}

header .btn:hover {
    outline: auto;
}

header input {
    padding: 5px;
    border-radius: 7px;
    border: 0;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.map-container {
    width: 50%;
    margin-inline-end: 2rem;
}

.locs-container {
    width: 50%;
}

.locs-container td{
    padding: 7px;
    border: 1px solid rgb(165, 185, 212);
}


.main-contant #map {
    margin-bottom: 20px;
}

.map-btns {
    width: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    margin-block-start: 0.6rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.map-btns .btn {
    background-color: rgb(63 133 223);
    margin: 5px;
    color: white;
}

.btn {
    padding: 0.4rem;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

.card-btns .delete-btn {
    background-color: rgb(241, 89, 89);
    color: rgb(253, 251, 251);
    /* font-weight: 600; */
}

.card-btns .go-btn {
    background-color: rgb(63 133 223);
    color: rgb(250, 250, 251);
    /* font-weight: 600; */
}

.loc-card {
    display: flex;
    background-color: aliceblue;
    border-radius: 5px;
}

.loc-name {
    font-size: 1.5rem;
    margin-inline-start: 3rem;
}
.loc-card > * {
    margin-block: 0.5rem;
}
.card-btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-inline-end: 3rem;
}
.card-btns > * {
    margin-inline-start: 0.5rem;
}